@model List<Project02BurgerMenu.Entities.Product>
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ürün Listesi Listesi</h4>
            <p class="card-description">

            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Kategori ID</th>
                            <th>Ürün Adi</th>
                            <th>Ürün Aciklamasi</th>
                            <th>Ürün Fiyati</th>
                            <th>Ürün Resmi</th>
                            <th>Kategori Adi</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td>@item.ProductName</td>
                                <td>@item.ProductDescription</td>
                                <td>@item.ProductPrice</td>
                                <td>@item.ImageUrl</td>
                                <td>@item.Category.CategoryName</td>
                                <td><a href="#" class="btn btn-danger">Sil</a></td>
                                <td><a href="#" class="btn btn-success">Güncelle</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
                <a href="#" class="btn btn-primary">Yeni Ürün Girisi</a>
            </div>
        </div>
    </div>
</div>


