@model Project02BurgerMenu.Entities.Product
@{
    ViewBag.Title = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Product Update Process</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        @Html.HiddenFor(x => x.ProductId)
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name:</label>
                            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", placeholder = "Enter product name" })
                        </div>
                        <div class="mb-3">
                            <label for="productPrice" class="form-label">Product Price:</label>
                            @Html.TextBoxFor(x => x.ProductPrice, new { @class = "form-control", placeholder = "Enter product price" })
                        </div>
                        <div class="mb-3">
                            <label for="productDescription" class="form-label">Product Description:</label>
                            @Html.TextBoxFor(x => x.ProductDescription, new { @class = "form-control", placeholder = "Enter product description" })
                        </div>
                        <div class="mb-3">
                            <label for="imageUrl" class="form-label">Product Image:</label>
                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", placeholder = "Enter image URL" })
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category:</label>
                            @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Update Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
