
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default")
<body data-spy="scroll" data-target="#site-navbar" data-offset="200">

    @Html.Action("PartialNavbar", "Default")
    <!-- END section -->

    @Html.Action("PartialAbout", "Default")
    <!-- END section -->

    @Html.Action("TodaysOffer", "Default")

    <!-- END section -->

    @Html.Action("PartialMenu", "Default")
    <!-- END section -->


    @Html.Action("PartialGallery", "Default")
    <!-- END section -->

    <section class="site-section bg-light" id="section-contact">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center mb-5 site-animate">
                    <h2 class="display-4">Get In Touch</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 mb-5 site-animate">
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="message" class="sr-only">Message</label>
                            <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Write your message"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg" value="Send Message">
                        </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4 site-animate">
                    <p><img src="images/about_img_1.jpg" alt="" class="img-fluid"></p>
                    <p class="text-black">
                        Address: <br> 121 Street, Melbourne Victoria <br> 3000 Australia <br> <br>
                        Phone: <br> 90 987 65 44 <br> <br>
                        Email: <br> <a href="mailto:info@yoursite.com">info@yoursite.com</a>
                    </p>

                </div>

            </div>
        </div>
    </section>
    <div id="map"></div>
    <!-- END section -->


    <footer class="site-footer site-bg-dark site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 site-animate">
                            <h2 class="site-heading-2">About Us</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, similique, delectus blanditiis odit expedita amet. Sed labore ipsum vel dolore, quis, culpa et magni autem sequi facere eos tenetur, ex?</p>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3 site-animate">
                            <div class="site-footer-widget mb-4">
                                <h2 class="site-heading-2">The Restaurant</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="py-2 d-block">About Us</a></li>
                                    <li><a href="#" class="py-2 d-block">Chefs</a></li>
                                    <li><a href="#" class="py-2 d-block">Events</a></li>
                                    <li><a href="#" class="py-2 d-block">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 site-animate">
                            <div class="site-footer-widget mb-4">
                                <h2 class="site-heading-2">Useful links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="py-2 d-block">Foods</a></li>
                                    <li><a href="#" class="py-2 d-block">Drinks</a></li>
                                    <li><a href="#" class="py-2 d-block">Breakfast</a></li>
                                    <li><a href="#" class="py-2 d-block">Brunch</a></li>
                                    <li><a href="#" class="py-2 d-block">Dinner</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 site-animate">
                            <div class="site-footer-widget mb-4">
                                <h2 class="site-heading-2">Useful links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="py-2 d-block">Foods</a></li>
                                    <li><a href="#" class="py-2 d-block">Drinks</a></li>
                                    <li><a href="#" class="py-2 d-block">Breakfast</a></li>
                                    <li><a href="#" class="py-2 d-block">Brunch</a></li>
                                    <li><a href="#" class="py-2 d-block">Dinner</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row site-animate">
                <div class="col-md-12 text-center">
                    <div class="site-footer-widget mb-4">
                        <ul class="site-footer-social list-unstyled ">
                            <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p>
                        &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>




    <!-- Modal -->
    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bg-image" style="background-image: url(images/reservation_1.jpg);"></div>
                        </div>
                        <div class="col-lg-12 p-5">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <small>CLOSE </small><span aria-hidden="true">&times;</span>
                            </button>
                            <h1 class="mb-4">Reserve A Table</h1>
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="m_fname">First Name</label>
                                        <input type="text" class="form-control" id="m_fname">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="m_lname">Last Name</label>
                                        <input type="text" class="form-control" id="m_lname">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="m_email">Email</label>
                                        <input type="email" class="form-control" id="m_email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="m_people">How Many People</label>
                                        <select name="" id="m_people" class="form-control">
                                            <option value="1">1 People</option>
                                            <option value="2">2 People</option>
                                            <option value="3">3 People</option>
                                            <option value="4+">4+ People</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="m_phone">Phone</label>
                                        <input type="text" class="form-control" id="m_phone">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="m_date">Date</label>
                                        <input type="text" class="form-control" id="m_date">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="m_time">Time</label>
                                        <input type="text" class="form-control" id="m_time">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="m_message">Message</label>
                                        <textarea class="form-control" id="m_message" cols="30" rows="7"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Reserve Now">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- END Modal -->
    <!-- loader -->
    <div id="site-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="/eatwell-master/js/jquery.min.js"></script>
    <script src="/eatwell-master/js/popper.min.js"></script>
    <script src="/eatwell-master/js/bootstrap.min.js"></script>
    <script src="/eatwell-master/js/jquery.easing.1.3.js"></script>
    <script src="/eatwell-master/js/jquery.waypoints.min.js"></script>
    <script src="/eatwell-master/js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>

    <script src="/eatwell-master/js/bootstrap-datepicker.js"></script>
    <script src="/eatwell-master/js/jquery.timepicker.min.js"></script>

    <script src="/eatwell-master/js/jquery.animateNumber.min.js"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/eatwell-master/js/google-map.js"></script>

    <script src="/eatwell-master/js/main.js"></script>


</body>
</html>