@model Project02BurgerMenu.Entities.Admin
@{
    ViewBag.Title = "MyProfileList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card"></div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Profile Information</h4>
            <form method="post">
                <label>First Name</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <BR />
                <label>Last Name</label>
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                <BR />
                <label>Email</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                <BR />
                <label>Username</label>
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                <BR />
                <label>Password</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                <BR />
                <button class="btn btn-primary">Update Profile</button>

            </form>
        </div>
    </div>
</div>
